<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Endereço</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="addressForm" (ngSubmit)="saveAddress()">
    <ion-item>
      <ion-label position="floating">Nome do Endereço</ion-label>
      <ion-input formControlName="address_name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nome do Destinatário</ion-label>
      <ion-input formControlName="recipient_name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Província</ion-label>
      <ion-input formControlName="province" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Cidade</ion-label>
      <ion-input formControlName="city" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bairro</ion-label>
      <ion-input formControlName="neighborhood" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rua</ion-label>
      <ion-input formControlName="street" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Quarteirão</ion-label>
      <ion-input formControlName="block" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Referência</ion-label>
      <ion-input formControlName="reference" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Latitude</ion-label>
      <ion-input formControlName="addressLat" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Longitude</ion-label>
      <ion-input formControlName="addressLng" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Endereço Padrão</ion-label>
      <ion-toggle formControlName="is_default"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="addressForm.invalid || isSubmitting">
      <ion-spinner *ngIf="isSubmitting"></ion-spinner>
      <span *ngIf="!isSubmitting">Salvar Endereço</span>
    </ion-button>
  </form>
</ion-content>
