<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Método de Pagamento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="paymentForm" (ngSubmit)="savePayment()">
    <ion-item>
      <ion-label position="floating">Tipo de Pagamento</ion-label>
      <ion-select formControlName="type" (ionChange)="onPaymentTypeChange()">
        <ion-select-option value="mpesa">M-PESA</ion-select-option>
        <ion-select-option value="emola">E-MOLA</ion-select-option>
        <ion-select-option value="card">Cartão</ion-select-option>
      </ion-select>
    </ion-item>

    <div formGroupName="details">
      <ion-item>
        <ion-label position="floating">Nome da Conta</ion-label>
        <ion-input formControlName="account_name" type="text" (ionChange)="onAccountNameChange()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número de Telefone</ion-label>
        <ion-input formControlName="phone_number" type="tel"></ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label>Método Padrão</ion-label>
      <ion-toggle formControlName="is_default"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="paymentForm.invalid || isSubmitting">
      <ion-spinner *ngIf="isSubmitting"></ion-spinner>
      <span *ngIf="!isSubmitting">Salvar Método de Pagamento</span>
    </ion-button>
  </form>
</ion-content>
